.ccw-font-svg {
    width: 28px;
    height: 31px;
    background-position: -9px -7px;
}

.ccw-font-pdf {
    width: 28px;
    height: 31px;
    background-position: -54px -7px;
}

.ccw-font-mp3 {
    width: 28px;
    height: 31px;
    background-position: -98px -7px;
}

.ccw-font-png {
    width: 28px;
    height: 31px;
    background-position: -144px -7px;
}

.ccw-font-excel {
    width: 28px;
    height: 31px;
    background-position: -189px -7px;
}

.ccw-font-webm {
    width: 28px;
    height: 31px;
    background-position: -233px -7px;
}

.ccw-font-jpg {
    width: 28px;
    height: 31px;
    background-position: -279px -7px;
}

.ccw-font-doc {
    width: 28px;
    height: 31px;
    background-position: -324px -7px;
}

.ccw-font-no {
    width: 28px;
    height: 31px;
    background-position: -368px -7px;
}

.ccw-font-webp {
    width: 28px;
    height: 31px;
    background-position: -9px -52px;
}

.ccw-font-ppt {
    width: 28px;
    height: 31px;
    background-position: -54px -52px;
}

.ccw-font-gif {
    width: 28px;
    height: 31px;
    background-position: -99px -52px;
}

.ccw-font-mp4 {
    width: 28px;
    height: 31px;
    background-position: -144px -52px;
}

.ccw-font-css {
    width: 28px;
    height: 31px;
    background-position: -189px -52px;
}

.ccw-font-js {
    width: 28px;
    height: 31px;
    background-position: -234px -52px;
}

.ccw-font-add {
    background-position: -276px -51px;
    width: 34px;
    height: 34px;
}

.ccw-font-edit {
    width: 9px;
    height: 11px;
    background-position: -4px -102px;
}

.ccw-font-delete {
    width: 10px;
    height: 10px;
    background-position: -19px -103px;
}

.ccw-font-menu-list {
    width: 10px;
    height: 10px;
    background-position: -37px -103px;
}

.ccw-font-menu-list-active {
    width: 10px;
    height: 10px;
    background-position: -53px -103px;
}

.ccw-font-menu-section-active {
    width: 10px;
    height: 10px;
    background-position: -69px -103px;
}

.ccw-font-menu-section {
    width: 10px;
    height: 10px;
    background-position: -85px -103px;
}

.ccw-font-folder {
    width: 11px;
    height: 9px;
    background-position: -101px -104px;
}

.ccw-font-folder-item {
    width: 11px;
    height: 9px;
    background-position: -117px -104px;
}

.ccw-font-folder-page {
    width: 9px;
    height: 11px;
    background-position: -133px -103px;
}

.ccw-font-delete-active {
    width: 9px;
    height: 10px;
    background-position: -150px -103px;
}

.ccw-font-refresh {
    width: 14px;
    height: 12px;
    background-position: -163px -101px;
}

.ccw-font-view {
    width: 14px;
    height: 10px;
    background-position: -179px -103px;
}

.ccw-font-check {
    width: 15px;
    height: 11px;
    background-position: -195px -102px;
}

.ccw-font-close {
    width: 10px;
    height: 10px;
    background-position: -213px -103px;
}

.ccw-font-edit-active {
    width: 8px;
    height: 11px;
    background-position: -230px -102px;
}

.ccw-font-select {
    width: 6px;
    height: 5px;
    background-position: -247px -106px;
}

.ccw-font-close-active {
    width: 13px;
    height: 13px;
    background-position: -260px -102px;
}

.ccw-font-fold {
    width: 10px;
    height: 9px;
    background-position: -277px -104px;
}

.ccw-font-delete-red {
    width: 9px;
    height: 10px;
    background-position: -294px -103px;
}

.ccw-font-icon-img {
    width: 17px;
    height: 13px;
    background-position: -5px -138px;
}

.ccw-font-icon-js {
    width: 24px;
    height: 11px;
    background-position: -27px -139px;
}

.ccw-font-icon-css {
    width: 23px;
    height: 11px;
    background-position: -53px -140px;
}

.ccw-font-assets {
    width: 13px;
    height: 16px;
    background-position: -85px -136px;
}

.ccw-font-assets-add {
    width: 17px;
    height: 14px;
    background-position: -135px -137px;
}

.ccw-font-video {
    width: 18px;
    height: 13px;
    background-position: -108px -138px;
}

.ccw-font-warn {
    width: 13px;
    height: 13px;
    background-position: -163px -138px;
}

.ccw-font-module {
    width: 10px;
    height: 12px;
    background-position: -190px -138px;
}

.ccw-font-page-edit {
    width: 8px;
    height: 12px;
    background-position: -217px -138px;
}

.ccw-font-screen {
    width: 16px;
    height: 10px;
    background-position: -239px -139px;
}

.ccw-font-upload {
    width: 17px;
    height: 12px;
    background-position: -265px -138px;
}

.ccw-font-refresh-active {
    width: 16px;
    height: 13px;
    background-position: -291px -138px;
}

.ccw-font-save {
    width: 15px;
    height: 15px;
    background-position: -319px -137px;
}

.ccw-font-version-edit {
    width: 16px;
    height: 14px;
    background-position: -4px -162px;
}

.ccw-font-version-edit-active {
    width: 16px;
    height: 14px;
    background-position: -30px -162px;
}

.ccw-font-finished {
    width: 16px;
    height: 16px;
    background-position: -57px -162px;
}

.ccw-font-finish {
    width: 16px;
    height: 16px;
    background-position: -83px -162px;
}

.ccw-font-time {
    width: 17px;
    height: 17px;
    background-position: -109px -162px;
}

.ccw-font-time-active {
    width: 17px;
    height: 17px;
    background-position: -135px -162px;
}

.ccw-font-edit-assets {
    width: 16px;
    height: 16px;
    background-position: -188px -162px;
}

.ccw-font-edit-assets-active {
    width: 16px;
    height: 16px;
    background-position: -162px -162px;
}

.ccw-font-m {
    width: 8px;
    height: 14px;
    background-position: -217px -163px;
}

.ccw-font-m-active {
    width: 8px;
    height: 14px;
    background-position: -269px -163px;
}

.ccw-font-pc {
    width: 16px;
    height: 13px;
    background-position: -239px -164px;
}

.ccw-font-pc-active {
    width: 16px;
    height: 13px;
    background-position: -291px -164px;
}

.ccw-font-publish {
    width: 14px;
    height: 14px;
    background-position: -318px -163px;
}

.ccw-font-date {
    width: 14px;
    height: 16px;
    background-position: -6px -213px;
}

.ccw-font-search {
    width: 14px;
    height: 14px;
    background-position: -32px -214px;
}

.ccw-font-select2 {
    width: 9px;
    height: 5px;
    background-position: -61px -219px;
}

.ccw-font-add2 {
    width: 19px;
    height: 19px;
    background-position: -81px -211px;
}

.ccw-font-add-mini {
    width: 10px;
    height: 9px;
    background-position: -113px -217px;
}

.ccw-font-close-mini {
    width: 8px;
    height: 8px;
    background-position: -139px -217px;
}

.ccw-font-upload-mini {
    width: 7px;
    height: 8px;
    background-position: -165px -217px;
}


.ccw-font-warning {
    width: 12px;
    height: 12px;
    background-position: -6px -255px;
}

.ccw-font-success {
    width: 12px;
    height: 12px;
    background-position: -22px -255px;
}

.ccw-font-primary {
    width: 12px;
    height: 12px;
    background-position: -38px -255px;
}

.ccw-font-info {
    width: 12px;
    height: 12px;
    background-position: -54px -255px;
}

.ccw-font-warn2 {
    width: 12px;
    height: 12px;
    background-position: -70px -255px;
}

.ccw-font-site {
    width: 60px;
    height: 61px;
    background-position: -273px -239px;
}

.ccw-font-tou {
    width: 60px;
    height: 60px;
    background-position: -191px -242px;
}

.ccw-font-site-add {
    width: 41px;
    height: 41px;
    background-position: -372px -249px;
}

.ccw-font-page-add {
    width: 17px;
    height: 12px;
    background-position: -4px -290px;
}

.ccw-font-user-add {
    width: 17px;
    height: 15px;
    background-position: -30px -289px;
}

.ccw-font-asset-add2 {
    width: 20px;
    height: 18px;
    background-position: -56px -288px;
}

.ccw-font-site-setting {
    width: 13px;
    height: 16px;
    background-position: -85px -288px;
}

.ccw-font-setting {
    width: 17px;
    height: 17px;
    background-position: -109px -288px;
}

.ccw-font-logout {
    width: 13px;
    height: 13px;
    background-position: -136px -289px;
}

.ccw-font-mima {
    width: 17px;
    height: 8px;
    background-position: -161px -292px;
}

.ccw-font-huo {
    width: 26px;
    height: 16px;
    background-position: -2px -320px;
}

.ccw-font-yu {
    width: 26px;
    height: 16px;
    background-position: -34px -320px;
}

.ccw-font-share {
    width: 13px;
    height: 8px;
    background-position: -2px -358px;
}

.ccw-font-edit-a {
    width: 10px;
    height: 11px;
    background-position: -52px -356px;
}

.ccw-font-add-b {
    width: 12px;
    height: 12px;
    background-position: -67px -356px;
}

.ccw-font-add-p {
    width: 16px;
    height: 14px;
    background-position: -81px -355px;
}

.ccw-font-check-w {
    width: 10px;
    height: 8px;
    background-position: -147px -358px;
}

.ccw-font-close-b {
    width: 8px;
    height: 8px;
    background-position: -164px -358px;
}

.ccw-font-categories-add {
    width: 18px;
    height: 12px;
    background-position: -222px -357px;
}

.ccw-font-product-add {
    width: 17px;
    height: 12px;
    background-position: -248px -357px;
}

.ccw-font-cope {
    width: 12px;
    height: 13px;
    background-position: -278px -356px;
}

.ccw-font-down {
    width: 8px;
    height: 11px;
    background-position: -303px -358px;
}

.ccw-font-setting-form {
    width: 15px;
    height: 15px;
    background-position: -139px -376px;
}

.ccw-font-unlocalize {
    width: 23px;
    height: 20px;
    background-position: -2px -374px;
}

.ccw-font-localize {
    width: 23px;
    height: 19px;
    background-position: -28px -374px;
}

.ccw-font-publish-page {
    width: 19px;
    height: 19px;
    background-position: -82px -374px;
}

.ccw-font-edit-page {
    width: 12px;
    height: 14px;
    background-position: -193px -376px;
}

.ccw-font-view-page {
    width: 25px;
    height: 18px;
    background-position: -160px -374px;
}

.ccw-font-cope-active {
    width: 10px;
    height: 11px;
    background-position: -304px -357px;
}

.ccw-font-active {
    width: 15px;
    height: 11px;
    background-position: -58px -190px;
}

.ccw-font-inactive {
    width: 15px;
    height: 15px;
    background-position: -32px -188px;
}


.ccw-font-publish-site {
    width: 16px;
    height: 19px;
    background-position: -5px -186px;
}

[class^="ccw-font"], [class*=" ccw-font"] {
    outline: none;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    background-image: url("../../assets/icon/icon.png");
    background-size: 437px 429px;
}
